{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
    <header id="header" data-url="http://luoleiorg.b0.upaiyun.com/tmp/yasuko/bg.jpeg" class="home-header lazy blog-background banner-mask {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
        <div class="header-wrap">
        <div class="home-info-container">
            <a href="{{@blog.url}}"><h2>Every thing about</h2></a>
            <h4>「{{tag.name}}」</h4>
        </div>
        <div class="arrow_down">
               <a href="javascript:;"></a>
        </div>
    </header>


{{! The main content area on the homepage }}
<main class="content" id="main" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
