
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iconfontzhihu:before { content: "\e63f"; }
.icon-iconfontweibo:before { content: "\e63d"; }
.icon-iconfontwikipedia:before { content: "\e63e"; }
.icon-iconfontv2ex:before { content: "\e63b"; }
.icon-iconfontwechat:before { content: "\e63c"; }
.icon-iconfontinstagram:before { content: "\e639"; }
.icon-iconfonttwitter:before { content: "\e63a"; }
.icon-iconfontfacebook:before { content: "\e637"; }
.icon-iconfontgoogle:before { content: "\e638"; }
.icon-iconfontdouban:before { content: "\e636"; }
