/* 载入iconfont字体 */

// @font-face {
//     font-family: 'iconfont';
//     src: url(#{$fontPath}/iconfont.eot);
//     /* IE9*/
//     src: url(#{$fontPath}/iconfont.eot?#iefix) format('embedded-opentype'),
//     /* IE6-IE8 */
//     url(#{$fontPath}/iconfont.woff) format('woff'),
//     /* chrome、firefox */
//     url(#{$fontPath}/iconfont.ttf) format('truetype'),
//     /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
//     url(#{$fontPath}/iconfont.svg#uxiconfont) format('svg');
//     /* iOS 4.1- */
// }
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    // -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    speak: none;
}
.iconfont {
    vertical-align: middle;
    &:hover {
        opacity: 0.6;
        color: #363636;
    }
}
.iconfont-self {
    color: red
}
.iconfont-weibo {
    color: #E6162D
}
.iconfont-twitter {
    color: #2aa9e0
}
.iconfont-facebook {
    color: #204385
}
.iconfont-google {
    color: #176DEE
}
.iconfont-wikipedia {
    color: #626262;
}
.iconfont-weixin {
    color: #75D140
}
.iconfont-qzone {
    color: #186CC6
}
.iconfont-github {
    color: #333333
}
.iconfont-douban {
    color: #279337
}
.iconfont-luolei {
    color: #6596C1
}
.iconfont-dribble {
    color: #F72D84
}
.iconfont-zhihu {
    color: #0767c8
}
.iconfont-instagram {
    color: #9b6954
}
.iconfont-v2ex {
    color: #1A1A1B
}
.icon-weibo-pure {
    color: #E6162D
}
.icon-twitter-pure {
    color: #2aa9e0
}
.icon-github-pure {
    color: #333333
}
.icon-dribble-pure {
    color: #F72D84
}
.icon-weixin-pure {
    color: #75D140
}
.iconfont-jianshu{
    color:#e78170;
}
.iconfont-youku{
    color:#06a7e1;
}
.iconfont-youtube{
    color:#E52413;
}
/* 自定义IconFont CSS 才用:before的形式 */

.single-post-inner {
    .iconfont-local:before {
        content: "\0f00ac";
    }
    .iconfont-twitter:before {
        content: "\00e604";
    }
    .iconfont-wechat:before {
        content: "\00e606";
    }
    .iconfont-weibo:before {
        content: "\00e607";
    }
    .iconfont-facebook:before {
        content: "\00e601";
    }
    .iconfont-google:before {
        content: "\00e602";
    }
    .iconfont-github:before {
        content: "\00e60d";
    }
    .iconfont-douban:before {
        content: "\0e600";
    }
    .iconfont-luolei:before {
        content: "\0"
    }
    .iconfont-v2ex:before {
        content: "\00e605"
    }
    .iconfont-zhihu:before {
        content: '\00e609'
    }
    .iconfont-wikipedia:before {
        content: '\00e608'
    }
    .iconfont-jianshu:before {
        content: '\00e60b'
    }
    .iconfont-youku:before {
        content: '\00e60c'
    }
    .iconfont-youtube:before {
        content: '\00e60a'
    }
    .iconfont-luolei:before {
        content: '\00e60e'
    }
}

